/* 📄 src/styles/App.css */

/* 기본적인 화면 레이아웃 설정 */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f7f7f7; /* 전체 배경색을 연한 회색으로 설정 */
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* 로고 스타일링 */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* 로고 hover 효과 */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* 애니메이션 설정 */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 애니메이션을 선호하지 않는 경우 */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}