/* 📄 src/styles/Button.css */

/* 기본 버튼 스타일 */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.3s;
    color: white;
  }
  
  /* primary 버튼 스타일 */
  button.bg-primary {
    background-color: #1a1a1a;
  }
  
  /* secondary 버튼 스타일 */
  button.bg-gray-500 {
    background-color: #808080;
  }
  
  /* 버튼 hover 시 색상 변화 */
  button:hover {
    background-color: #535bf2; /* 버튼 색상 변경 */
    border-color: #646cff;
  }